.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid red;
  padding: 20px;
}

.input-test {
  width: 300px;
}

.checkbox-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.switch2 {
  margin-left: 10px;
}

.switch3 {
  margin-left: 10px;
}

.table-test {
  width: 100%;
}
