name: Publish to NPM
on:
  push:
    branches:
      - release
permissions:
  id-token: write
  contents: read
  packages: write
jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'release'
          fetch-depth: 0
          token: ${{ secrets.GIT_ACCESS_TOKEN }}
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
      - name: Update npm
        run: |
          npm install -g npm@latest
      - name: Install yarn
        run: npm install -g yarn
      - name: Install dependencies
        run: yarn install
      - name: GIT Setup
        run: |
          git config --global user.name "${{ secrets.GH_NAME }}"
          git config --global user.email "${{ secrets.GH_EMAIL }}"
      - name: build Projects
        run: yarn build
      - name: temp commit for publish
        run: |
          git add .
          git commit -m "temp commit"
      - name: publish(fetoolkit/react)
        run: yarn packages:react:publish
      - name: publish(fetoolkit/utils)
        run: yarn packages:utils:publish
      - name: publish(fetoolkit/admin-react)
        run: yarn packages:admin-react:publish
      - name: publish(fetoolkit/context-menu-react)
        run: yarn packages:context-menu-react:publish
      - name: publish(fetoolkit/user-agent)
        run: yarn packages:user-agent:publish
